div.error {
    border: 1px solid #b94a48;
    margin-bottom: 16px;
}

.control-group {
    padding: 10px;
}

.help {
    padding: 10px;
}

mark.blue {
    color: #0000A0;
    background: none;
}

#header {
    background-image: none!important;
}

input,
textarea,
#form-field-title,
#form-field-absender,
#form-field-name,
#form-field-telefon,
#form-field-email {
    width: 100% !important;
    max-width: 350px !important;
}

.jFiler-theme-default div.jFiler-input {
    position: relative;
    display: block;
    width: auto;
    height: 35px;
    margin: 0;
    background: transparent;
    border: none;
    font-size: 12px;
    font-family: sans-serif;
    color: transparent;
    border-radius: 0;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.jFiler-theme-default div.jFiler-input-caption {
    display: none;
}

.jFiler-theme-default div.jFiler-input-button {
    display: block;
    float: none;
    height: 100%;
    max-width: 350px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ccc;
    color: #666666 !important;
    text-align: center;
    background-color: #fefefe;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fefefe),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#fefefe,#f1f1f1);
    background-image: -o-linear-gradient(top,#fefefe,#f1f1f1);
    background-image: linear-gradient(to bottom,#fefefe,#f1f1f1);
    background-image: -moz-linear-gradient(top,#fefefe,#f1f1f1);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
